<side-bar [user]="authUser"></side-bar>
<div class="row user-list">
  <div class="col offset-l3 l9">
      <table class="bordered">
          <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Actions</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let buser of busers">
              <td>@{{buser.username}}</td>
              <td>{{buser.name}}</td>
              <td>{{buser.surname}}</td>
              <td>{{(buser.role !== null) ? buser.role.name : "-"}}</td>
              <td>
                <i (click)="show(buser)" class="material-icons action" title="Details">format_list_bulleted</i>
                <i (click)="edit(buser)" class="material-icons action" title="Edit">mode_edit</i>
                <i (click)="deletionAttempt(buser)" *ngIf="deletable(buser)" class="material-icons action" title="Delete">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div *ngIf="canCreate()" class="fixed-action-btn" style="bottom: 45px; right: 35px;">
  <a routerLink="/business-users/create" class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>



