<side-bar [user]="authUser"></side-bar>
<div class="row">
  <div class="col offset-l3 l9">
    <div class="card profile-page-header">
        <div class="card-image waves-block waves-light">
            <img class="activator" src="assets/img/buser_show_background.jpg" alt="user background">                    
        </div>
        <figure class="card-profile-image">
            <img src="assets/img/rules.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </figure>
        <div class="card-content">
          <div class="row">                    
            <div class="col s6 offset-s2">                        
                <h4 class="card-title grey-text text-darken-4">{{ rule.name }}</h4>
                <p class="medium-small grey-text">Rule name</p>                        
            </div>
            <div class="col s4 center-align">
                <h4 class="card-title grey-text text-darken-4">{{ rule.belongsTo }}</h4>
                <p class="medium-small grey-text">Belongs to</p>                        
            </div>                                     
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col offset-l3 l9">
      <ace-editor [(text)]="rule.definition" [mode]="'javascript'" style="min-height: 200px; width:100%; overflow: auto;"></ace-editor>
  </div>
</div>