<side-bar [user]="authUser"></side-bar>
<div class="row rules-list">
  <div class="col offset-l3 l9">
      <table class="bordered centered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Create at</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rule of rules">
              <td>{{ rule.name }}</td>
              <td>{{ rule.createdAt }}</td>
              <td>
                <i (click)="show(rule)" class="material-icons action" title="Details">format_list_bulleted</i>
                <i (click)="deletionAttempt(rule)" *ngIf="deletable()" class="material-icons action red-text" title="Delete">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>