<div class="container">
  <div class="row">
    <div class="col s12">
      <table class="bordered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.type}}</td>
            <td>
                <button md-raised-button (click)="openEdit(user.id)" class="waves-effect waves-light btn">
                  <i class="material-icons">edit</i>
                </button>
                <button (click)="delete(user.id)" class="waves-effect waves-light btn">
                  <i class="material-icons">delete</i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


